<div class="container mt-5">
<form [formGroup]="rankForm" (ngSubmit)="rankSubmit()">
    
    <div *ngIf="errorMsg" class="alert alert-warning" role="alert">
        <strong>{{errorMsg}}</strong>
        <button type="button" class="btn-close close-pad" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    &nbsp;
    
    <div class="col-lg-4">
        <input type="text" class="form-control" formControlName="name" placeholder="Name?">
    </div>
    &nbsp;
    
    <div class="col-lg-4">
        <input type="text" class="form-control" formControlName="eamcet" placeholder="Eamcet Score?">
    </div>
    &nbsp;

    <div class="col-lg-4">
        <input type="text" class="form-control" formControlName="ip" placeholder="Inter Score?">
    </div>
    &nbsp;
    <div class="col-lg-4">
        <button class="btn btn-primary">Find</button>
    </div>
</form>
&nbsp;
    
<div *ngIf="expectedMsg" class="alert alert-success" role="alert">
    <strong>{{expectedMsg}}</strong>
</div>
<button *ngIf="expectedMsg" class="btn btn-sm btn-secondary bottom" (click)="updateID()">Update your record</button>
<button *ngIf="expectedMsg" class="btn btn-sm btn-danger bottom left" (click)="deleteID()">Delete your record</button>
<br>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">NAME</th>
        
        <th scope="col">EAMCET SCORE</th>
        
        <th scope="col">IP SCORE</th>
        
        <th scope="col">EXPECTED RANK</th>
      </tr>
      
    </thead>
    <tbody>
      <tr *ngFor='let us of readData'>
        <th scope="row">{{us.name}}</th>
        <th scope="row">{{us.eamcet}}</th>
        <th scope="row">{{us.ip}}</th>
        <th scope="row">{{us.expectedRank}}</th>
      </tr>
    </tbody>
  </table>
  
</div>